---
import Search from "@/components/Search";
import Navbar from "@/components/Navbar";
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout>
    <main class="flex min-h-screen flex-col">
        <Navbar client:load />
        <section
                class="container z-10 mx-auto -mb-32 flex max-w-6xl flex-col px-4 py-16 md:px-8"
        >
            <div class="flex flex-col items-end gap-8 md:flex-row md:gap-16">
                <div class="col-span-2 flex flex-1 flex-col">
                    <h1 class="mb-6 text-4xl leading-tight">
                        <strong>MA SÓI ONE NIGHT</strong><br />
                        <!--<span class="font-light">Online Slide Maker Compilation</span>-->
                    </h1>
                    <Search client:load className="w-full" />
                </div>
            </div>
        </section>

    </main></Layout
>
